/* css styles */
.carousel-container {
  max-width: 50%;  
  margin: 0 auto; 
}


/* Prevent theme flicker */
html[data-theme="light"], [data-theme="light"] body {
  opacity: 0;
  animation: fade-in 0.2s ease-in-out forwards;
}

html[data-theme="dark"], [data-theme="dark"] body {
  opacity: 0;
  animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}